.category {
    .category-item-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .category {
        padding: 1.5rem 1.5rem;
    }
}