@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// 设置变量
$middle-screen: 820px;
$small-screen: 640px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

a {
    text-decoration: none;
    color: #222;
    cursor: pointer;

    &:hover {
        color: #bac34e;
    }
}

li {
    list-style: none;
}

.icon {
    font-size: 3rem;
    cursor: pointer;
}

.icon:hover {
    color: #bac34e;
}

.btn {
    background: #bac34e;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #222;
}