// 设置变量
$middle-screen: 820px;
$small-screen: 640px;

$color-green: #bac34e;
$color-white: #fff;
$color-black: #222;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 3rem 9%;
}

a {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;

    &:hover {
        color: $color-green;
    }
}

li {
    list-style: none;
}

.icon {
    font-size: 3rem;
    cursor: pointer;

    &:hover {
        color: $color-green;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    width: 100%;

    h2 {
        font-size: 2.5rem;

        span {
            color: $color-green;
        }
    }

    a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 55%;
    }
}