.slide {
    position: relative;
    padding-top: 14rem;
    padding-bottom: 3rem;
    background-image: url(../../assets/home-bg.jpg);
    background-size: cover;
    background-position: bottom;

    .slide-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: 0 10rem;
    }

    p {
        line-height: 45px;
        font-size: 3rem;
        color: #666;
    }

    h3 {
        font-size: 6rem;
        margin-bottom: 1.5rem;
        color: #222;
    }

    .btn {
        display: inline-block;
        width: 15rem;
        padding: 1rem 2.5rem;
        border-radius: 3px;
        font-size: 1.7rem;
    }

    .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-icons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 2rem;

        .icon {
            text-align: center;
            height: 5rem;
            width: 5rem;
            padding: 1rem 1rem;
            border-radius: 3px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .icon:hover {
            color: #fff;
            background-color: #bac34e;
        }
    }
}

@media screen and(max-width: 1000px) {
    .slide {
        .slide-container {
            margin: 0 3rem;

            p {
                line-height: 30px;
                font-size: 2rem;
            }

            h3 {
                font-size: 5rem;
            }
        }

        .slide-icons {
            top: 80%;
            justify-content: end;

            .icon {
                margin-left: 1rem;
            }
        }
    }
}

@media screen and(max-width: 768px) {
    .slide {
        padding-left: 2rem;
        padding-right: 2rem;

        .slide-container {
            flex-direction: column;
        }

        .slide-icons {
            top: 87%;
            right: 1rem;
        }
    }
}