.slide {
    position: relative;
    padding-top: 140px;
    background-image: url(../../assets/home-bg.jpg);
    background-size: cover;
    background-position: bottom;

    .slide-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: 0 4.5rem;

        img {
            padding: 30px 0;
        }
    }

    p {
        line-height: 45px;
        font-size: 2rem;
        color: #666;
    }

    h3 {
        line-height: 100px;
        font-size: 4rem;
    }

    .btn {
        display: inline-block;
        width: 200px;
        padding: .8rem 3rem;
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-icons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 1rem;

        .icon {
            text-align: center;
            height: 3rem;
            width: 3rem;
            padding: .5rem .5rem;
            border-radius: 3px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .icon:hover {
            color: #fff;
            background-color: #bac34e;
        }
    }
}

@media screen and(max-width: 940px) {
    .slide {
        .slide-container {
            margin: 0 1rem;

            p {
                line-height: 30px;
                font-size: 1.5rem;
            }

            h3 {
                line-height: 80px;
                font-size: 3rem;
            }
        }

        .slide-icons {
            top: 80%;
            justify-content: end;

            .icon {
                margin-left: .5rem;
            }
        }
    }
}

@media screen and(max-width: 768px) {
    .slide {
        padding-left: 2rem;
        padding-right: 2rem;

        .slide-container {
            flex-direction: column;
        }

        .slide-icons {
            top: 87%;
            right: 1rem;
        }
    }
}